<div class="porta_tm_home_title_wrap">
	<div class="inner">
		<div class="logo">
			<center>
				<%= link_to image_tag("logo.png"), root_path %>
			</center>
		</div>
	</div>
</div>
		
<div class="contact_page">
<center>			
	<h6><i class="fa fa-address-card-o"></i>Address:</h6>
	<h5>F-82, 1st Floor, Raiser Plaza, Jaipur (RAJ.)</h5>			
	</br>
	<h6><i class="fa fa-phone"></i>Phone:</h6>
	<h5>+91-9799974142</h5>	
	</br>
	<h6><i class="fa fa-at"></i>Email</h6>
	<h5>st@smarttechno.com</h5>			
</center>
</div>
<footer class="fixed-bottom">
	<div class="container">
		<center class="copyright">
			<label class="wow fadeIn" style="color:white" data-wow-duration="1.2s">Copyright</label>
				<p class="wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">&copy; 2018. All rights are reserved.</p>
		</center>
	</div>	
</footer>



