
<style>
	h5:hover{
		color: red !important;
	}
</style>
<div class="porta_tm_wrapper_all">
    <!-- CONTENT -->
	<div class="porta_tm_content">
		<div class="container">
			<div class="porta_tm_home_title_wrap contact">
				<div class="inner">
					<div class="logo">
					   <center>
					   		<%= link_to image_tag("logo.png"), root_path %>
					   	</center>
					</div>
					<h3>
						<span class="animate">
							<span>Get in Touch With Our</span>
						</span>
					</h3>
				</div>
			</div>
		</div>
		<center>			
			<h6><i class="fa fa-address-card-o"></i>Address:</h6>
			<h5>F-82, 1st Floor, Raiser Plaza, Jaipur (RAJ.)</h5>			
			</br>
			<h6><i class="fa fa-phone"></i>Phone:</h6>
			<h5>+91-9799974142</h5>			
		</center>
	<footer class="fixed-bottom">
		<div class="porta_tm_section">
			<div class="container">
				<div class="porta_tm_footer_wrap">
					<div class="sharebox">
						<label class="wow fadeIn" data-wow-duration="1.2s">Follow Us</label>
						<div class="share_wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" style="font-size: 20px;"></i></a></li>
								
								<li><a href="#"><i class="fa fa-google-plus" style="font-size: 20px;"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" style="font-size: 20px;"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="copyright">
						<label class="wow fadeIn" data-wow-duration="1.2s">Copyright</label>
						<p class="wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">&copy; 2018. All rights are reserved.</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- /CONTENT -->
	</footer>
</div>


