@import "cctvhome";
@import "font-awesome";


.form-control, 
.form-control[readonly] {
  background-color : black;
  color: white;
}

.form-group label{
	color: white;
}

.customer-details{
	color: black;
}

 p,h5,h2,h6,.alertInfo,.proceed{
    color: white;
}

 
.request{
	margin-left: 40%;
}

.breadcrumb{
	background-color: #000000;
}

#totalqty{
	font-size: 24px;
	width:150px;
}


#customer-model{
	background-color: rgba(93, 103, 106, 0.31);
}

.modal-content{
	background-color: #1d1d1e;
}


#customermm{
	margin-top: 200px;
}

.invoice_wrapper{
	margin:5px;
}

 #spinner{
        position: fixed;
        top: 50%;
        left: 38%;
        z-index: 100;
        display: none;
}

.total{
		text-align: right;
}
.initialQty{
	border: 1px solid white !important;
    background-color: black !important;
}
.table-for-mobile{
    width: 65%;
   	td input#dome, input#bullet{
	margin-top: 20px;
	}

}

@media (max-width: 768px) {
	.table-for-mobile{ width:100%; }
	.initialQty { width:100% !important; }
	.logo img { width: 20% !important; }
	.logo { margin-bottom: 15px;}
	.product-name{ width:148px; }
	table{width: 100% ; input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 10;
    font-size: 13px;
    min-width: 85px;
    color: #fff;
    letter-spacing: 1.4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
    background-color: white;
    line-height: 1.6;
    padding: 10px !important;
    height: 44px;
    vertical-align: middle;
    border: 1px solid black;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}}

}

@media (max-width: 480px) {

	#customer-name { width: 108%;margin-left: -10px; }
	.product-name{ width:148px; }
	#customer-contact{ width: 110%; margin-left: -15px; }
	.table-for-mobile{ width:100%; }
	.initialQty { width:100% !important; }
	.logo img { width: 20% !important; }
	.logo { margin-bottom: 15px;}
	.container{padding:0px 10px;}
	 table{width: 132%;

	 input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 10;
    font-size: 13px;
    min-width: 85px;
    color: #fff;
    letter-spacing: 1.4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
    background-color: white;
    line-height: 1.6;
    padding: 10px !important;
    height: 44px;
    vertical-align: middle;
    border: 1px solid black;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}}

}


.item-header{ width: 27%;}
.category-header{ width: 27%;}
.price-header{ width: 14%;}
.qty-header{ width: 9%;}
.total-header{ width: auto; }

